img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #1a1a1a;
    color: #fcfcfc;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
}
#sponsor-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ffffff; /* Optional: Add border to make it stand out */
    border-radius: 15px; /* Optional: Add rounded corners */
    background-color: #1a1a1a; /* Optional: Add background color */
  }
  
  #sponsor-image {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  #sponsor-name {
    font-size: 15px; 
    font-weight: bold;
    color: #0073b1; 
    text-decoration: none;
  }
  
  #sponsor-name:hover {
    text-decoration: underline; 
  }
  
  @media (max-width: 600px) {
    #sponsor-info {
      flex-direction: column;
      align-items: center;
    }
  
    #sponsor-image {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  

.hero-section {
    text-align: center;
    padding: 50px 20px;
}

.hero-title {
    font-size: 40px;
    font-weight: bold;
}

.hero-paragraph {
    font-size: 20px;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.button {
    background-color: #1a1a1a;
    border-width: 2px;
    border-color: white;
    color: #ffffff;
    padding: 15px 30px;

    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.button:hover {
    background-color: #ffffff;
    color: #1a1a1a;

    border-color: white;
}

.square-button {
    position: relative;
    background-color: #1a1a1a;
    border-color: white;
    color: #ffffff;
    right: 20px;

    height: 40px;
    width: 40px;

    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.square-button:hover {
    background-color: #ffffff;
    color: #1a1a1a;

    border-color: white;
}

.bar {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
}

.bar input {
    padding: 15px 60px;
    /* Space for the icon */
    font-size: 1em;
    border: 1px solid #ffffff;
    border-radius: 35px;
    font-family: 'JetBrains Mono', monospace;
}

.search-bar i {
    position: relative;
    right: 45px;
    color: #555;
    /* Adjust color as needed */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (min-width: 900px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {

    .buttons {
        flex-wrap: wrap;
    }

    .button {
        flex: 1;
    }

}

@media screen and (max-width: 600px) {

    .buttons {
        flex-wrap: wrap;
    }

    .button {
        flex: 1;
    }

}

.card {
    background-color: #1a1a1a;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-subtext {
    font-size: 18px;
    margin-bottom: 20px;
}

.explain-button {
    background-color: #fff;
    color: #1a1a1a;
    padding: 18px;
    border: 2px;
    border-color: white;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    width: 80%;
}

.explain-button:hover {
    background-color: #b8b8b8;
    color: #1a1a1a;
}

/* Modal Styles */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

#modal-content {
    background-color: #1a1a1a;
    color: white;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    font-family: 'JetBrains Mono', monospace;
    overflow-y: auto;
    max-height: 70vh;
}

#modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#modal-heading {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.modal-paragraph {
   text-align: left;
   line-height: 1.5;

}

#modal-link {
    display: inline-block;
    margin-top: 20px;
    background-color: #1a1a1a;
    color: indianred;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}

#modal-link:hover {
    color: deeppink;
}
