:root {
  --primary-color: #1e1e1e; /* Darker color for buttons */
  --secondary-color: #f8f8f8;
  --text-color: #1e1e1e;
  --shadow-color: rgba(0, 0, 0, 0.1); /* Transparent shadow */
  --border-color: #cccccc;
  --border-radius: 5px;
  --hover-ring-color: rgba(30, 30, 30, 0.2);
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0 1rem;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

#sponsors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.sponsor-info {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-width: 250px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.sponsor-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  flex-shrink: 0;
}

.sponsor-name {
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.sponsor-name:hover {
  text-decoration: underline;
}

.sponsor-name-no-link {
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

@media (max-width: 900px) {
  .sponsor-info {
    flex: 1 1 45%;
  }
}

@media (max-width: 600px) {
  #sponsors-container {
    flex-direction: column;
  }

  .sponsor-info {
    flex: 1 1 100%;
    margin-top: 10px;
  }

  .sponsor-info img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.hero-section {
  text-align: center;
  padding: 50px 20px;
}

.hero-title {
  font-size: 40px;
  font-weight: bold;
}

.hero-paragraph {
  font-size: 20px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 15px 30px;
  font-family: 'JetBrains Mono', monospace;
  cursor: pointer;
  text-align: center;
  border-radius: var(--border-radius);
  transition: all 0.3s linear;
}

.button:hover {
  box-shadow: 0 0 0 4px var(--hover-ring-color);
}

.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'JetBrains Mono', monospace;
}

.search-bar input {
  padding: 15px 40px 15px 20px;
  font-size: 1em;
  border: 1px solid var(--border-color);
  border-radius: 35px;
  font-family: 'JetBrains Mono', monospace;
  width: 80%;
  max-width: 640px;
}

.search-bar i {
  transform: translateX(-32px);
  color: #555;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

@media (min-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow .1s linear;
  background: #FFF;
  cursor: pointer;
}

.card img {
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 0px 24px #cccccc60
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.card-subtext {
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Modal Styles */
#modal {
  box-sizing: border-box;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  color: var(--text-color);
  margin: 6rem auto 0rem;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 80%;
  max-width: 600px;
  font-family: 'JetBrains Mono', monospace;
  overflow-y: auto;
  max-height: 70vh;
  background: #f8f8f8;
  box-shadow: 0px 0px 20px rgba(0,0,0,.1);
  position: relative
}

#modal-content span.close {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

#modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#modal-heading {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

.modal-paragraph {
  text-align: left;
  line-height: 1.5;
}

.modal-link {
  display: inline-block;
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: indianred;
  border: none;
  border-radius: var(--border-radius);
  font-size: 15px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  cursor: pointer;
}

#modal-link:hover {
  color: deeppink;
}
