---
import CardList from '../components/CardList.astro';
import DevEncyclopedia from '../components/DevEncyclopedia.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Dev Encyclopedia">
    <meta name="description" content="Discover concise explanations and samples for tech terms and concepts in the Dev Encyclopedia. Find everything you need for development, all in one place.">
    <meta name="keywords" content="dev encyclopedia,developer encyclopedia,developer dictionary,developer resources,developer tools,software resources,programming resources,programming terms,tech terms">
    <meta name="robots" content="index,follow">
    <meta name="language" content="en">
    <meta name="author" content="Chenuli Jayasinghe">
    <title>Dev Encyclopedia | Encyclopedia for Developers</title>
    <link rel="icon" type="image/x-icon" href="/src/image/new_icon.png">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <DevEncyclopedia />
  </body>
</html>
