---
const { terms } = Astro.props;
const categories = new Set<string>();
    
terms.forEach((term: any) => {
  // fetch all categories
  term.data.categories.forEach((category: string) => categories.add(category))
});

let sortedCategories = Array.from(categories).sort((a, b) => a.localeCompare(b));




---
<hero-com data> 
<div class="hero-section">
  <div class="search-and-filter">
    <div class="search-bar">
      <i class="fas fa-search"></i>
      <input  autocomplete="off" type="text" id="searchInput" class="form-control" placeholder="Search for keywords..." />
      <div id="autocomplete-list"></div> 
    </div>
    <div class="category-filter">
      <select class="select" id="category-select">
        <option value="" disabled selected hidden>Category</option>
        <option value="">(None)</option>
        {
          Array.from(sortedCategories).map(category => (
            <option value={category}>{category}</option>
          ))
        }
      </select>
    </div>
  </div>

  <div class="buttons" id="heroButtons">
    <button class="button" id="aboutButton">
      <i class="fas fa-user" style="padding-right: 10px;"></i> About;
    </button>
    <button class="button" onclick="window.open('https://github.com/Buzzpy/Programming-Simplified', '_blank')">
      <i class="fab fa-github" style="padding-right: 10px;"></i> Contribute;
    </button>

    <button class="button" id="darkModeToggle">
      <i class="fas fa-moon" style="padding-right: 10px;"></i><span id="darkModeText"> Dark Mode;</span>
    </button>
    
    <button class="button" id="builderButton">
      <i class="fas fa-hammer" style="padding-right: 10px;"></i> Builder's Note;
    </button>
    
    <button class="button" id="sponsorButton">
      <i class="fa-solid fa-dollar-sign" style="padding-right: 10px;"></i> Sponsor;
    </button>
  </div>
  
  <div class="hero-title" id="heroTitle" style="padding-top: 50px;">Dev Encyclopedia;</div>
  <div class="hero-paragraph" id="heroParagraph">Find out what that Sr. Developer is talking about.</div>
</div>
</hero-com>
